:root {
  --primary-color: #daa520;
}
body {
  overflow-x: hidden;
  position: relative;
}
/* header */
header {
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/pictures/about-us.jpg") center/cover no-repeat fixed;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

/* ucc src hall info */
.uccsrchall {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: #000;
  color: var(--primary-color);
}

.uccsrchall .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.uccsrcHeader {
  font-size: 80px;
  margin: 30px 0px;
  text-transform: capitalize;
}

.littleBar {
  width: 100px;
  height: 10px;
  margin-top: 20px;
  background-color: var(--primary-color);
}

.littleInfo {
  width: 70%;
  font-size: 18px;
  margin: 20px 0px;
  line-height: 2rem;
  color: #ccc;
}

.hidden {
  width: 70%;
  font-size: 18px;
  color: #ccc;
  text-align: justify;
  line-height: 1.9rem;
  display: none;
}
.hidden p {
  margin: 20px 0px;
}

.toggleDisplayMissionBtnClass {
  position: relative;
  width: 30%;
  height: 50px;
  margin: 20px auto;
  /* border: 2px solid red; */
  overflow: hidden;
}

.missionStatement {
  position: absolute;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #daa520;
  color: #000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease;
}
.hideDisplayMission {
  display: none;
}

.missionStatement:hover {
  background-color: #f7b102;
  color: #352f2f;
}

.readLess {
  position: absolute;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #daa520;
  color: #000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease;
  display: none;
}
/* toggle display mission and read less class */
.displayHiddenClass {
  display: block;
}

.readLess:hover {
  background-color: #f7b102;
  color: #352f2f;
}

/* quick fact about ucc src hall*/
.quickFact {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #ebe8e8;
  border-top: 5px solid;
  overflow: hidden;
}

.watermark {
  position: absolute;
  width: 100%;
  height: 800px;
}
.watermarkImage {
  top: 30px;
  left: -50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.quickFactContent {
  width: 100%;
  margin: 20px 0px;
  margin-bottom: 10px;
}
.quickFactHeader {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.quickFactContent .header .bar {
  width: 100px;
  height: 2px;
  background-color: rgb(221, 188, 2);
}

.quickTabs {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 330px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  overflow: hidden;
  /* border: 1px solid ; */
}
.icon {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 5px solid #daa520;
  border-radius: 100%;
  opacity: 0;
  overflow: hidden;
}
.icon .fontawesomeIcon {
  width: 90%;
  height: 90%;
  color: #daa520;
  border-radius: 100%;
  transition: 0.3s ease;
}

.number {
  margin: 10px 0px;
  font-size: 30px;
  color: rgb(7, 7, 7);
  opacity: 0;
}

.quickFactTxt {
  color: #000;
  opacity: 0;
}

.showImageAndYearsOfOperation {
  width: 100%;
  margin-bottom: 20px;
  background: none;
  box-shadow: 2px 3px 5px 1px #ccc;
  opacity: 0;
}

.yearOfOperation {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: gold;
}
.yearOfOperation .text {
  font-size: 22px;
  font-weight: 800;
}
.years {
  font-size: 50px;
  font-weight: 900;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.dash {
  width: 30px;
  height: 5px;
  background-color: #fff;
}

/* cross and our calling (positive message) */
.positiveMessage {
  width: 100%;
  margin-bottom: 100px;
  height: 250px;
  opacity: 0;
}

.positiveMessage .wrapper {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.positiveMessage .bar,
.pBar {
  width: 100px;
  height: 5px;
  background-color: gold;
}

.question {
  font-size: 35px;
  cursor: pointer;
  color: gold;
}
.positiveMessageBtn {
  width: 260px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid gold;
  background-color: #030303;
  color: gold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.positiveMessageBtn:hover {
  background-color: var(--primary-color);
  color: #000;
}

.message {
  position: relative;
  width: 800px;
  padding: 0px 20px;
  padding-top: 50px;
  margin: auto;
  /* margin-top: -400px; */
  line-height: 1.9rem;
  position: absolute;
  left: 20%;
  /* top: 100px; */
  background-color: #e0dede;
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 1100;
  /* border-radius: 20px; */
  text-align: justify;
  display: none;
}

.messageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

.closeCalling {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
}

.displaymessage {
  display: block;
  animation: fadeIn 0.3s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message p {
  margin: 30px 0px;
}
.message .list {
  margin-left: 30px;
}
.list li {
  list-style-type: circle;
}
.message .pMessage {
  margin-left: 30px;
}

/* hall management  */
.srcHallManagement {
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4f4;
  opacity: 0.9;
}
.hallWrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.pHeader {
  width: 100%;
  color: var(--primary-color);
  margin: 10px 0px;
  text-transform: capitalize;
  font-size: 35px;
  text-align: left;
}
.otherCategoryHeader {
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 10px 0px;
  padding-top: 30px;
  display: inline-block;
}
.hallManagementCardsContainer {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}
.leader {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.others {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}
/* cards */
.hMcard {
  width: 280px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 2px 1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px 1px, rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
    overflow: hidden;
}
.cardImageContainer {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.cardImage {
  margin-top: -30px;
  transition: all 0.3s ease;
}
.cardImage:hover {
  scale: 1.2;
}
.acronym{
  width: 100%;
  height: 100%;
  font-size: 110px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items:center;
  transition: all .3s ease;
}
.acronym:hover{
  font-size: 120px;
}


.cardTxt {
  width: 100%;
  height: 100px;
  line-height: 1.5rem;
  border-top: 5px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  color: #000;
}
.cardTxt .name {
  font-size: 23px;
  text-transform: capitalize;
}

/*  */
/* Alumni */
.alumniContainer{
  width: 100%;
  margin: 30px 0px;
  padding-bottom: 100px;
  padding: 30px 0px;
}
.alumniContainer .wrapper {
  max-width: 1200px;
  margin: auto;
}
.alumniHeader{
  width: 100%;
  text-align: left;
}

.alumniCardsContainer{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.alumni{
  height: 250px;
}

.alumni .cardImageContainer{
  height: 180px;
  overflow: hidden;
}
.alumni .cardImageContainer .cardImage{
  width: 100%;
  height: 100%;
  margin-top: 0px;
}
.alumni .cardTxt{
  height: 50px;
}




/* hide elements */
.hideElement {
  display: none;
}

/* fade elements in on scroll */
.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Media Queries */
@media screen and (max-width: 1210px) {
  .srcHallManagement{
    padding: 10px;
  }
  .hallWrapper{
    width: 100%;
  }
  .others{
    justify-content: center;
  }

  /*  */
  .alumniContainer .wrapper {
    max-width: 100%;
    padding: 0;
  }
  .alumniCardsContainer{
    gap: 5px;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .uccsrcHeader{
    font-size: 40px;
  }

  .littleBar {
    height: 5px;
    margin-top: 10px;
  }

  .littleInfo {
    width: 100%;
    font-size: 16px;
    margin: 15px 0px;
    text-align: left;
  }

  .hidden {
    width: 100%;
    font-size: 16px;
    margin: 15px 0px;
    text-align: left;
  }
  .hidden p {
    margin: 15px 0px;
  }
  .toggleDisplayMissionBtnClass {
    width: 26%;
    margin: 20px auto;
    /* border: 2px solid red; */
  }

  .missionStatement {
    padding: 8px;
    font-size: 18px;
  }

  .readLess {
    padding: 8px;
    font-size: 18px;
  }

  /* quick fact about ucc src hall*/
  .quickFact {
    position: relative;
    width: 100%;
    height: auto;
  }
  .watermark {
    height: 100%;
  }
  .watermarkImage {
    left: 0px;
    object-fit: fill;
  }

  /* content */
  .tab {
    width: 250px;
  }

  .message {
    width: 99%;
    margin: auto;
    left: 5px;
    box-shadow: none;
  }

}

@media screen and (max-width: 768px) {
  .wrapper{
    padding: 0;
    margin: 0;
  }
  .toggleDisplayMissionBtnClass {
    width: 150px;
    margin: 20px auto;
    /* border: 2px solid red; */
  }

  .missionStatement {
    width: 150px;
    padding: 8px;
    font-size: 18px;
  }

  /* fact */
  .quickFactHeader {
    width: 100%;
  }
  .quickFactContent .header .bar {
    width: 50px;
  }

  .readLess {
    width: 150px;
    padding: 8px;
    font-size: 18px;
  }
  /* quick facts */
  .tab {
    width: 90%;
    box-shadow: 0px 2px 3px 3px #ccc;
  }

  /* hall management */
  .srcHallManagement{
    padding: 5px;
  }
  .leader,
  .others{
    gap: 5px;
  }
  .hMcard {
    width: 170px;
    height: 270px;
  }
  .cardImageContainer{
    height: 170px;
  }
  .cardImage{
    margin-top: 0;
  }
  .acronym{
    height: 170px;
    font-size: 80px;
  }
  .cardTxt .name{
    font-size: 18px;
  }
  .cardTxt p{
    font-size: 10px;
  }


  /*  */
  .alumniContainer .pBar,
  .alumniContainer .header{
    margin: 0px 20px;
  }
  .alumni{
    height: 170px;
  }

}
