/* header */
header {
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/pictures/4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* --------------------------------------------------------------------------- */

/* pagination  */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.pagination-btn,
.previous-btn,
.next-btn {
  color: #000000;
  font-size: 1.1rem;
  padding: 15px;
  border-radius: 50px;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
  margin: 0 5px;
}
.previous-btn,
.next-btn {
  background: #daa520;
  padding: 15px 25px;
  font-size: 1.5rem;
}
.pagination-btn:hover {
  box-shadow: 0 0 15px 5px #ffffff80;
}

/*  */
.gallery-container {
  background: #000000;
  color: #ffffff;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.gallery-wrapper h2 {
  width: 100%;
  padding: 20px 0;
}
.photo-card {
  width: 30%;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.gallery-wrapper img {
  transition: all 0.5s ease-in-out;
}

.gallery-wrapper img:hover {
  transform: scale(1.2);
}
/* ------------------------ */
/* view photo styling */
/* .view-photo {
  z-index: 2;
  position: fixed;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: #ffffff30;
  backdrop-filter: blur(10px);
  padding: 50px 20px; 
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
.view-photo-active {
  display: flex;
  z-index: 2;
  position: fixed;
  width: 70%;
  margin: 0 auto;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: #ffffff30;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close-photo-btn {
  display: none;
  z-index: 5;
}

.close-photo-btn-active {
  display: block;
  color: #ffffff;
  padding: 20px;
  font-size: 2.5rem;
  position: fixed;
  top: 20px;
  right: 50px;
  cursor: pointer;
  font-weight: normal;
}

.close-photo-btn:hover {
  color: #daa520;
}

.hall-ariel-video {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}

.hall-ariel-video div {
  height: 800px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/* Media Queries */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  header {
    min-height: 50vh;
  }
  .gallery-wrapper {
    gap: 10px;
  }

  .view-photo-active {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: 0;
  }

  .close-photo-btn-active {
    font-size: 2rem;
    top: 50px;
    right: 20px;
  }
  .hall-ariel-video div {
    height: 300px;
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
}
