/* --------------------------------------------------------- */
.being-an-innovator-wrapper {
  background: rgba(0, 0, 0, 1);
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../media/pictures/frontview.jpeg") center/cover no-repeat fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: Poppins;
  color: #daa520;
}

.being-an-innovator-wrapper h2 {
  font-size: 5rem;
}

.being-an-innovator-wrapper hr {
  width: 200px;
  background: #ffffff;
  height: 10px;
  border: none;
}
.being-an-innovator-wrapper p {
  width: 800px;
  line-height: 2;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 30px 0;
}

/* -------------------------------- */

/* core-values-wrapper */
.core-values-wrapper {
  margin: 0 auto;
  background: #00000050;
  padding: 50px 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-values-wrapper h2 {
  font-size: 5rem;
  color: #daa520;
}

.core-values-wrapper hr {
  width: 200px;
  border: none;
  height: 10px;
  background: #ffffff;
}

.core-values {
  display: flex;
  gap: 0 70px;
  margin: 30px 0;
}
.core-values .item {
  font-size: 30px;
}
.core-values .item p {
  display: flex;
  align-items: center;
}
.core-values .item span {
  font-size: 5rem;
  color: #daa520;
  margin-right: 20px;
  font-weight: bolder;
}
/* ---------------------------------------------------- */

/* -------------------------------------- */
/* News and events */
.news-and-events-container {
  background: #000000;
  /* border-bottom: 3px solid #daa520; */
}
.news-and-events-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}

.news-and-events-wrapper hr {
  width: 150px;
  color: #daa520;
  height: 10px;
  background: #daa520;
  border: none;
}
.news-and-events-wrapper .header-text {
  font-size: 3rem;
  margin-bottom: 30px;
}
.news-wrapper,
.events-wrapper {
  padding: 50px 0;
}
.news-wrapper h4,
.events-wrapper h4 {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
.news-wrapper section,
.events-wrapper section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}
.line-separator {
  width: 100%;
  color: #daa520;
  height: 10px;
  background: #daa520;
  border: none;
}

/* -------------- */
.card {
  width: 30%;
  /* padding: 10px; */
  box-shadow: 0 0 15px 3px #00000030;
  /* height: 400px; */
  transition: all 0.3s ease-in-out;
  line-height: 1.3;
  overflow: hidden;
}
.card button {
  border: none;
  color: #000000;
  padding: 0 10px;
  cursor: pointer;
}
.card h3 {
  margin: 10px 0;
  padding: 0 10px;
  text-align: left;
}

.card p {
  color: #4e4d49;
  padding: 10px;
  text-align: left;
}
.card:hover {
  box-shadow: 0 0 10px 5px #daa52050;
  transform: translateY(2px);
}

/*  




*/
/* Media Queries */

@media screen and (max-width: 1200px) {
  .news-and-events-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .news-and-events-wrapper {
    width: 90%;
  }
  .being-an-innovator-wrapper h2 {
    font-size: 2.5rem;
    padding: 0 10px;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
  }
  .being-an-innovator-wrapper p {
    width: 90%;
    line-height: 2;
    font-size: 15px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 768px) {
  .core-values-wrapper {
    padding: 50px 10px;
  }

  .core-values-wrapper h2 {
    font-size: 3rem;
  }
  .core-values {
    gap: 0 40px;
  }
  .core-values p {
    font-size: 15px;
  }

  .core-values .item span {
    font-size: 2rem;
  }
  .news-and-events-wrapper {
    width: 90%;
  }
  .news-and-events-wrapper .header-text {
    margin-bottom: 10px;
  }
  .news-wrapper section,
  .events-wrapper section {
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
  }
  .news-wrapper,
  .events-wrapper {
    padding: 20px 0;
  }
  .card {
    width: 45%;
    padding: 10px;
  }
}

@media screen and (max-width: 540px) {
  .card {
    width: 100%;
  }
  .core-values {
    gap: 0 20px;
  }
}
