@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Poppins "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #83610b;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/pictures/frontview.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* header */

header {
  min-height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../media/pictures/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.navbar {
  background: #000000;
  padding: 1rem;
}

.navbar-brand img {
  width: 200px;
}

.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav a {
  text-transform: uppercase;
  font-family: Poppins, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 10px;
  color: #daa520;
  text-decoration: none;
  padding: 10px 20px;
  letter-spacing: 3px;
  transition: 0.5s ease-in-out;
}
.navbar-nav a:hover {
  background-color: #daa520;
  color: #000000;
}

#active-link {
  color: #000000;
  background-color: #daa520;
  transition: 0.3s ease-in-out;
}

#active-link:hover {
  background-color: #000000;
  color: #daa520;
  border-left: 1px solid #daa520;
  border-right: 1px solid #daa520;
}
/* -------------------------------------- */
/* sidebar styling */
.sidebar-btn {
  font-size: 35px;
  cursor: pointer;
  display: none;
}
.sidebar-wrapper {
  display: none;
}

/* --------------------------------- */

/* banner styling */
/* ---------------------------------- */
.banner {
  flex: 1;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.banner-title {
  font-size: 5rem;
  line-height: 1;
}
.welcome-text {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 20px;
  border-bottom: 5px solid #daa520;
  width: 300px;
}
.banner p {
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: 300;
  word-spacing: 2px;
  color: #daa520;
  background: #000000;
}

.banner-btn {
  margin: 50px 0;
}
.primary-btn,
.secondary-btn {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  background-color: #daa520;
  padding: 15px 50px;
  transition: all 0.5s ease-in-out;
}
.secondary-btn {
  background: none;
  color: #daa520;
}

.secondary-btn:hover {
  color: #ffffff;
}

.primary-btn:hover {
  color: #ffffff;
  box-shadow: 0 0 20px 5px #daa520;
}

/* ---------------------------------------- */

/* footer */
/* footer-info */
.footer-info {
  width: 70%;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info div {
  width: 35%;
  /* flex: 2; */
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  padding: 20px;
  background: #010242;
  color: #ffffff;
}
.footer-info div p {
  margin: 10px 0;
}
.footer-info .contact-wrapper {
  /* flex: 1; */
  width: 20%;
}

.footer-info .history-wrapper {
  background: none;
}

.history-wrapper a,
.about-wrapper a {
  text-decoration: none;
  color: #daa520;
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.about-wrapper a:hover,
.history-wrapper a:hover {
  text-decoration: underline;
  letter-spacing: 2px;
}

.footer-info .contact-wrapper {
  background: none;
}
.contact-wrapper ul {
  list-style: none;
  color: #daa520;
}
.contact-wrapper li {
  margin: 5px 0;
}
.contact-wrapper h4 {
  margin-bottom: 10px;
}

.contact-wrapper a {
  text-decoration: none;
  color: #daa520;
  font-size: 20px;
}

/* ------ */
footer {
  background: rgb(0, 0, 0);
  color: #daa520;
  text-align: center;
  padding: 2rem 0;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.social-links a {
  border: 2px solid #daa520;
  color: #daa520;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #daa520;
  color: #000000;
}
.copyright-info {
  margin-top: 1rem;
  display: block;
  letter-spacing: 2px;
}
.dev-info {
  font-size: 12px;
  font-style: italic;
}

/* ----------------------------------------------------------- */

/* Media Queries */
@media screen and (max-width: 1200px) {
  .navbar-nav a:nth-child(5) {
    display: none;
  }
  .banner-title {
    font-size: 4rem;
  }

  .footer-info div,
  .footer-info .contact-wrapper {
    width: 100%;
  }
  .footer-info {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav a {
    color: #ffffff;
    font-size: 0.6rem;
    padding: 5px 10px;
  }
  .banner-title {
    font-size: 3rem;
  }

  .footer-info {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  /* body {
     overflow-x: hidden;
  } */
  header {
    min-height: 60vh;
  }
  .navbar-brand img {
    width: 180px;
  }
  .navbar-nav {
    display: none;
  }
  .sidebar-wrapper {
    display: none;
    width: 60vw;
    height: 100vh;
    position: absolute;
    background: #000000;
    top: 0;
    right: 0;
    z-index: 10;
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding: 100px 30px 0 30px;
    transition: all 0.3s ease-in;
  }
  .sidebar-wrapper-open {
    display: block;
  }
  .sidebar-wrapper li {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
    margin: 5px 0;
  }
  .sidebar-wrapper a {
    color: #daa520;
  }
  .sidebar-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
    font-weight: bold;
    /* color: #ffffff; */
    cursor: pointer;
  }

  .sidebar-btn {
    display: block;
  }

  .banner-title {
    width: 100%;
  }

  .welcome-text {
    font-size: 0.8rem;
    font-weight: 10px;
    border-bottom: 2px solid #daa520;
    width: 50%;
  }
  .banner-btn {
    margin: 30px 0;
  }
  .banner p {
    font-size: 15px;
    padding: 5px 10px;
    width: 220px;
  }
  .banner-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .primary-btn,
  .secondary-btn {
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 1.2px;
    padding: 10px 20px;
  }
  footer {
    padding: 1rem;
  }
  .footer-info {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .navbar-brand img {
    width: 150px;
  }
  .banner-title {
    font-size: 2rem;
  }
}
